---
layout: 'base.njk'
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0" nonce="gkIvh2de"></script>
<article class="main-article">
<div class="container container--narrow flow">

    <h1 class="article-title">{{ title }}</h1>
    <p>by {{author}} on {{date}}</p>
    <p><span style="font-weight:bold">{{description}}</span> </p>
    <figure class="main-article__figure">
      <img src="{{image}}" alt="{{imageAlt }}">
      <figcaption>{{imageAlt}} </figcaption>
    </figure>
{{content | safe}}

</div>
    <div class="text-center">
        <div class="social">
        <h3>Discuss it on social media</h3>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="True">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     <div class="fb-share-button" data-href="{{url}}" data-layout="button_count"></div>
        </div>
    </div>
</article>

