<!DOCTYPE html>
<html lang="en">
 <head>
     <!-- Primary Meta Tags -->
<title>Heritage in the digital age</title>
<meta name="title" content="Heritage in the digital age">
<meta name="description" content="Heritage is the use of the past in the present. But what happens with the past if our present is digital? Students and lecturers at Northeasten University London are looking for the answers. Editor: Andrea Kocsis.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://heritagedigital.org/">
<meta property="og:title" content="Heritage in the digital age">
<meta property="og:description" content="Heritage is the use of the past in the present. But what happens with the past if our present is digital? Students and lecturers at Northeasten University London are looking for the answers. Editor: Andrea Kocsis.">
<meta property="og:image" content="./src/assets/logo.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://heritagedigital.org/">
<meta property="twitter:title" content="Heritage in the digital age">
<meta property="twitter:description" content="Heritage is the use of the past in the present. But what happens with the past if our present is digital? Students and lecturers at Northeasten University London are looking for the answers. Editor: Andrea Kocsis.">
<meta property="twitter:image" content="./src/assets/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="/style.css">
     <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
     {% seo "" %}
     <title>{{title}}</title>
 </head>
<body>
{% include 'header.njk' %}
<main>
{{content | safe}}
</main>
{% include 'footer.njk' %}

<script lang="ts">
    import { onMount} from 'svelte'
    onMount(() => {
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on('init', (user) => {
                if (!user) {
                    window.netlifyIdentity.on('login', () => {
                        document.location.href = '/admin/';
                    });
                }
            });
        }
    })
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</body>
</html>