
   <footer class="site-footer">
       <div class="logos">
        <img src="/assets/logo.png" alt="logo" />
         <img src="/assets/NUlogo.jpeg" alt="logo" />

</div>

  <p>©2023 Dr Andrea Kocsis. The code is MIT licence. The content is CC BY-NC-ND. </p>

</footer>