<header class="page-header">
  <div class="container">
    <div class="page-header__content">
        <div class="headerimage">
            <img src="../assets/NUlogo.jpeg" height="100px">

            </div>
        <div class="headerimage">
             <img src="../assets/logo.png" height="100px">

            </div>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
            <li>
            <a href="/#aboutus">About us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>