<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="row">
        <div class="column">
             <div class="logosleft">
                <img src="/assets/NUlogo.jpeg" >
                <img src="/assets/logo.png" >
             </div>
             <h1>Heritage in the digital age <br> by NU London</h1>
          </div>
          <div class="column">
             <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
            <li>
            <a href="/#aboutus">About us</a>
          </li>
        </ul>
      </nav>
  </div>
</div>
    </div>
    </div>
  </div>
</header>