---
title: Heritage in the digital age
excerpt: Heritage is the use of the past in the present. But what happens with the past if our present is digital? Students and lecturers at Northeasten University London are looking for the answers.
layout: 'base.njk'
---


<section class="hero" xmlns="http://www.w3.org/1999/html">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome! We are still building this site, please come back later</h1>
        <p>Heritage is the use of the past in the present. But what happens with the past if our present is digital?</p>
        <p>We are some like-minded students and scholars interested in heritage and digital humanities, and use this space to search for possible answers through critical lenses. Have a look around!</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--primary2">Most recent articles</a>
            <a href="/#aboutus" class="btn btn--neutral">About us</a>
        </div>
      </div>
      <div>
        <img src="/assets/logo.png" class="hero__image">
      </div>
  </div>
</section>

<section id="news" class="news">
  <div class="container flow">
    <h2 class="section-title text-center" class="news__title">Digital heritage news from us</h2>
    <p class="text-center" class="news__text">Here are some things we were up to recently.</p>
<div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "autoPlay": 10000, "wrapAround": true}'>
    <div class="carousel-cell">
{%- for post in collections.news1 -%}
         <article class="snippet">
   <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="snippet__image">
 <h3 class="snippet__title"><a href="{{ post.url}}">
        {{ post.data.title }}</a>
      </h3>
      <p class="snippet__meta">by <span> {{ post.data.author }}</span> on <span> {{post.data.date | postDate }}</span></p>
      <p class="snippet_body">{{ post.data.description }}</p>
      <a href="{{ post.url }}" class="btn btn--primary">Continue reading</a>
                                    </article>

   {%- endfor -%}
</div>
    <div class="carousel-cell">
        {%- for post in collections.news2 -%}


              <article class="snippet"><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="snippet__image">
 <h3 class="snippet__title"><a href="{{ post.url}}">
        {{ post.data.title }}</a>
      </h3>
      <p class="snippet__meta">by <span> {{ post.data.author }}</span> on <span> {{post.data.date | postDate }}</span></p>
      <p class="snippet_body">{{ post.data.description }}</p>
      <a href="{{ post.url }}" class="btn btn--primary">Continue reading</a>
              </article>

  <!--{% include 'news.snippet.njk' %}-->
{%- endfor -%}
    </div>
</div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a taster of articles that can give you a good idea of what this site is about. Dive in!</p>
   <ul role="list" class="articles__list flow">
  {%- for post in collections.featured |reverse -%}
   {% include 'article.snippet.njk' %}
    {%- endfor -%}
</ul>
      <div class="text-center">
          <a href="./blog" class="btn btn--primary">I want to read all</a>
</div>
  </div>

</section>

<section id="aboutus" class="aboutus">
  <div class="container flow">
    <h2 class="section-title text-center "><a id="aboutus"> About us</a></h2>
    <p class="text-center">This blog was born from the History, Heritage, and Memory module of the History course at Northeastern University London, led by Dr Andrea Kocsis, the editor of this blog. She is a member of <a href="https://cssh.northeastern.edu/nulab/"> NULab for Texts, Maps, and Networks</a>. The authors are undergraduate students taking the module, and some other scholars also happen to drop by.
</p>
  </div>
</section>


