---
title: Heritage in the digital age - by NU London
layout: 'base.njk'
---


<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome! We are still building this site, please come back later</h1>
        <p>Heritage is the use of the past in the present. But what if our present is digital?</p>
        <p>We, students and lecturers at Northeastern University London, use this space to search for some possible answers. Have a look around! </p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
      <div>
        <img src="//unsplash.it/510" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
   <ul role="list" class="articles__list flow">
  {%- for post in collections.featured |reverse -%}
   {% include 'article.snippet.njk' %}
    {%- endfor -%}
</ul>
  </div>
</section>
<section id="aboutus" class="aboutus">
  <div class="container flow">
    <h2 class="section-title text-center "><a id="aboutus"> About us</a></h2>
    <p class="text-center">This blog was born from the History, Heritage, and Memory module of the History course at Northeastern University London lead by Dr Andrea Kocsis who is the editor. The authors are the undergraduate students taking the module.</p>
  </div>
</section>


